body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.logNav {
  padding: 0px;
}
.footer {
  margin-top: -50px;
  flex-shrink: 0;
  /*position: absolute;
  padding: 0;
  bottom: 0%;
  width: 100%;*/
}
.navFooter {
  margin-left: 1em;
}
.factionLogo {
  margin-left: 1em; margin-right: 1em;
  background-color: white;
  border-radius: 50%;
  max-width: 3em;
  max-height: 3em;
}
.copyright {
  margin-left: 1em;
  bottom: 0;
  color: white;
}
.navLinks {
  color: white;
  background-color: #2E3338;
  margin-right: .5em;
}
.navLinks:hover {
  color: white;
  background-color: #2E3338;
  text-decoration: none;
}
.phantom {
  height: 3em;
}
.container-fluid {
  width: 100%;

}
.logFoot {
  position: absolute;
  padding: 0;
  bottom: 0%;
  width: 100%;
}
.parallax {
  background-image: url("../src/components/images/heather near goodneighbor.jpg");
  height: 200px;
  /*border-radius: 35px;*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallaxB {
  background-image: url("../src/components/images/heather near goodneighbor.jpg");
  height: 200px;
  padding-left: 2em;
  padding-right: 2em;
  margin-left:calc(-50vw + 200px);
  margin-right:calc(-50vw + 200px);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallaxTwo {
  background-image: url("../src/components/images/crossing.jpg");
  height: 200px;
  margin-left:calc(-50vw + 200px);
  margin-right:calc(-50vw + 200px);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headline {
  height: 25em;
}
.publikCard{
  border-radius: 15px;
}
.diamondCard {
  border-radius: 15px;
}
.mainCard {
  border-radius: 15px;
}
.modal-body {
  background-image: url('./components/images/crossing.jpg')
}
.storyDetail {
  background-image: url('./components/images/fallout_pipboy.png');
  height: 100vh;
}
.newsDetail {
  background-image: url('./components/images/crossing.jpg');
}
/*.cardFix {
  padding-right: 1em;
   padding-left: 1em;
   border-radius: 5%;
}*/
/*Erios Area*/

/* Styling for the chat bot */
