



/*.card-title {
  font-size: 40pt;
}*/
.card-body{
  font-size: 15pt;
}
body {
  padding: 0;
  border: 0;
  font-family: 'Exo 2', sans-serif;

}
.mainNews {
  background-image: url('../src/components/images/worn-wood.jpg');
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: .85;
  z-index: -1;
}
.fail {
  background-image: url('../src/components/images/Deathclaw.jpg');
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.splash {
    background-image: url('../src/components/images/Fallout-4-Concept-Art-18.jpg');
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blogs {
  background-image: url('../src/components/images/Goodneighbor.jpg');
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.piperPage {
  background-image: url('../src/components/images/interview.jpg');
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logNav {
  padding: 0px;
}
.footer {
  margin-top: -50px;
  flex-shrink: 0;
  /*position: absolute;
  padding: 0;
  bottom: 0%;
  width: 100%;*/
}
.navFooter {
  margin-left: 1em;
}
.factionLogo {
  margin-left: 1em; margin-right: 1em;
  background-color: white;
  border-radius: 50%;
  max-width: 3em;
  max-height: 3em;
}
.copyright {
  margin-left: 1em;
  bottom: 0;
  color: white;
}
.navLinks {
  color: white;
  background-color: #2E3338;
  margin-right: .5em;
}
.navLinks:hover {
  color: white;
  background-color: #2E3338;
  text-decoration: none;
}
.logout {
  padding: 0;
  border: none;
  background: none;
}
.phantom {
  height: 3em;
}
.container-fluid {
  width: 100%;

}
.logFoot {
  position: absolute;
  padding: 0;
  bottom: 0%;
  width: 100%;
}
.parallax {
  background-image: url("../src/components/images/Fallout-4-Concept-Art-12.jpg");
  height: 200px;
  /*border-radius: 35px;*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.parallaxB {
  background-image: url("../src/components/images/Fallout-4-Concept-Art-25.jpg");
  height: 400px;
  /*border-radius: 35px;*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid white;
}
.parallaxTwo {
  background-image: url("../src/components/images/crossing.jpg");
  height: 200px;
  margin-left:calc(-50vw + 200px);
  margin-right:calc(-50vw + 200px);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallaxThree {
  background-image: url("../src/components/images/Fallout-4-Concept-Art-17.jpg");
  height: 400px;
  margin-left:calc(-80vw + 65em);
  margin-right:calc(-80vw + 65em);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid white;
  border-radius: 50%;
}
.parallaxFour {
  background-image: url("../src/components/images/Fallout-4-Concept-Art-21.jpg");
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid white;

}
.parallaxFive {
  background-image: url("../src/components/images/Fallout-4-Concept-Art-21.jpg");
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left:calc(-200vw + 200px);
  margin-right:calc(-200vw + 200px);
}


.headline {
  height: 25em;
}
.publikCard{
  border-radius: 5%;
  border: 1px solid black;
  box-shadow: 5px 10px #444444;
}
.diamondCard {
  border-radius: 5%;
  border: 1px solid black;
  box-shadow: 5px 10px #444444;

}
.mainCard {
  border-radius: 5%;
  border: 1px solid black;
  box-shadow: 5px 10px #444444;
}
.cardImg {
  border-radius: 5%;
  border: 1px solid black;
}
.modal-body {
  background-image: url('./components/images/crossing.jpg')
}
.storyDetail {
  background-image: url('./components/images/fallout_pipboy.png');
  height: 100vh;
}
.newsDetail {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('./components/images/crossing.jpg');
}
.blogDetail {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('./components/images/heather near goodneighbor.jpg');
}

.postComment {
  text-align: center;

}
.test {
  width:900px;
  height:500px;
  margin: auto;
  object-fit: fill;
}
.pull-center {
  margin: auto;
}
.postImg {
  max-width:10em;
  border-radius:5%;
  margin-bottom:2em;
  box-shadow: 5px 10px #888888;
}
.postBody {
  box-shadow: 5px 10px #888888;
  margin-bottom: 1em;
}
.cardTxt {
  border: 1px solid black;
  border-radius: 5%;
}
.cardFoot {
  border: none;
}
.profileHeader{
  font-family: 'Cinzel', serif;
  font-size: 40pt;
  text-shadow: 2px 2px red;
}
